<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>controller.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Inventory</servlet-name>
        <servlet-class>controller.Inventory</servlet-class>
    </servlet>
    <!--
    <servlet>
        <servlet-name>CategoryServlet</servlet-name>
        <servlet-class>controller.CategoryServlet</servlet-class>
    </servlet>
     -->
    <servlet>
        <servlet-name>ListServlet</servlet-name>
        <servlet-class>controller.ListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryControl</servlet-name>
        <servlet-class>controller.CategoryControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>controller.TestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InventoryReport</servlet-name>
        <servlet-class>controller.InventoryReport</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Inventory</servlet-name>
        <url-pattern>/Inventory</url-pattern>
    </servlet-mapping>
    <!--
    <servlet-mapping>
        <servlet-name>Categories</servlet-name>
        <url-pattern>/Categories</url-pattern>
    </servlet-mapping>
   -->
    <servlet-mapping>
        <servlet-name>ListServlet</servlet-name>
        <url-pattern>/ListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryControl</servlet-name>
        <url-pattern>/CategoryControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/TestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InventoryReport</servlet-name>
        <url-pattern>/InventoryReport</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <!--
    <url-pattern>/Inventory</url-pattern> 
    <url-pattern>/Inventory</url-pattern> -->
</web-app>
